<html>

<head>
  <title>Materialize CSS Framework Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link type="text/css" rel="stylesheet" href="./bower_components/Materialize/bin/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="./bower_components/Materialize/extras/noUiSlider/nouislider.css">
  <link type="text/css" rel="stylesheet" href="./assets/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="grey">
      <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="medium material-icons">search</i>
      </a>
      <div class="nav-wrapper right" style="padding-right:16px">
          <a class="btn-floating waves-effect waves-light red" href="#"></a>
          <a class="btn-floating waves-effect waves-light red" href="#"></a>
      </div>
    </nav>
    <ul id="slide-out" class="side-nav fixed">
      <li class="logo">
        <a href="#" title="logo" id="logo-container">
          <img src="./assets/img/logo.png" alt="">
        </a>
      </li>

      <li class="input">
        <div class="input-wrapper">
          <div class="input-field col s12">
            <div class="sliders" id="test5"></div>
            <label>Price</label>
            <p style="margin-bottom:1.5em"></p>
          </div>
        </div>
      </li>

      <li class="input">
        <div class="input-wrapper">
          <div class="input-field col s12">
            <select>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Field 1</label>
          </div>
        </div>
      </li>

      <li class="input">
        <div class="input-wrapper">
          <div class="input-field col s12">
            <select>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Field 2</label>
          </div>
        </div>
      </li>

      <li class="input">
        <div class="input-wrapper">
          <div class="input-field col s12">
            <select>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Field 3</label>
          </div>
        </div>
      </li>

      <li class="input">
        <div class="input-wrapper">
          <div class="input-field col s12">
            <select>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Field 4</label>
          </div>
        </div>
      </li>

      <li class="input">
        <div class="input-wrapper">
          <div class="input-field col s12">
            <select>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Field 5</label>
          </div>
        </div>
      </li>
    </ul>
  </header>
  <main>
    <div class="smartphone-container">
      <div class="vertical-scroll-container">
        <div class="smartphone-prop-container">
          <div class="card">
            <div class="card-image">
              <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=...&w=350&h=500">
              <span class="card-title">iPhone 6</span>
            </div>
            <div class="card-content">
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header grey lighten-4">Battery</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Storage and Memory</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Connectivity</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">OS</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Size and Weight
                  </div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Display</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Hardware</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Camera</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Additional Features</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-action">
              <a href="#">Contacter</a>
              <a href="#">Acheter</a>
            </div>
          </div>
        </div>
        <div class="smartphone-prop-container">
          <div class="card">
            <div class="card-image">
              <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=...&w=350&h=500">
              <span class="card-title">OnePlus 2</span>
            </div>
            <div class="card-content">
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header grey lighten-4">Battery</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Storage and Memory</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Connectivity</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">OS</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Size and Weight
                  </div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Display</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Hardware</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Camera</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Additional Features</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-action">
              <a href="#">Contacter</a>
              <a href="#">Acheter</a>
            </div>
          </div>
        </div>
        <div class="smartphone-prop-container">
          <div class="card">
            <div class="card-image">
              <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=...&w=350&h=500">
              <span class="card-title">Petit con</span>
            </div>
            <div class="card-content">
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header grey lighten-4">Battery</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Storage and Memory</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Connectivity</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">OS</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Size and Weight
                  </div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Display</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Hardware</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Camera</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Additional Features</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-action">
              <a href="#">Contacter</a>
              <a href="#">Acheter</a>
            </div>
          </div>
        </div>
        <div class="smartphone-prop-container">
          <div class="card">
            <div class="card-image">
              <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=...&w=350&h=500">
              <span class="card-title">OnePlus 2</span>
            </div>
            <div class="card-content">
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header grey lighten-4">Battery</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Storage and Memory</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Connectivity</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">OS</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Size and Weight
                  </div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Display</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Hardware</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Camera</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey lighten-4">Additional Features</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-action">
              <a href="#">Contacter</a>
              <a href="#">Acheter</a>
            </div>
          </div>
        </div>
      </div>
  </main>

  <!-- jQuery is required by Materialize to function -->
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./bower_components/Materialize/bin/materialize.js"></script>
  <script type="text/javascript" src="./bower_components/Materialize/extras/noUiSlider/nouislider.min.js"></script>

  <script type="text/javascript">
  $(".button-collapse").sideNav();
  $(document).ready(function() {
    $('select').material_select();
  });
  var slider = document.getElementById('test5');
  noUiSlider.create(slider, {
    start: [20, 80],
    connect: true,
    step: 1,
    range: {
      'min': 0,
      'max': 100
    },
    format: wNumb({
      decimals: 0
    })
  });
  </script>
</body>

</html>
