

.stat {
    background: rgba(245, 245, 245, 0.65);
    border-radius: 4px;
    text-align: center;
}

.stat h1 {
    color: #2bbbad;
    font-size: 18pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    margin: 19px 0;
}

.stat h2 {
    font-size: 50pt;
    padding: 0;
    margin: 0;
}

.stat span {
    font-size: 12pt;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.stat span.change {
    font-size: 9pt;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.stat h3 {
    margin: 22px 0 0 0;
    font-size: 27pt;
}

.stat h3.greenChange {
    color: green;
}}

.stat h3.redChange {
    color: red;
}